.estudiantes{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: 40px; 
    font-size: 50px; 
    margin-left: 15px;
} 
.listado{ 
    font-family: 'Times New Roman', Times, serif;
    font-weight: 50px; 
    font-size: 70px;  
    display: flex;
    justify-content: center;

    
}